node_modules
typings
/app/**/*.js
/app/**/*.map
.vscode/


/.vs/ng2-fundamentals-master/v15/.suo
/.vs/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json